.bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 705px;
  height: 820px;
}
.label,
.price {
  position: absolute;
  top: 464px;
  left: 65px;
  font-size: var(--font-size-sm);
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 190px;
  height: 26px;
}
.price {
  top: 351px;
  left: 286px;
  color: var(--black);
  text-align: right;
}
.summaryProductChild {
  position: absolute;
  top: 447px;
  left: 65px;
  width: 410px;
  height: 2px;
}
.shipping1 {
  top: 0;
  left: 221px;
  font-size: var(--font-size-sm);
  line-height: 25.6px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: right;
  display: flex;
  align-items: flex-end;
  width: 190px;
}
.label1,
.price2,
.shipping,
.shipping1 {
  position: absolute;
  height: 26px;
}
.label1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 190px;
}
.price2,
.shipping {
  top: 389px;
  left: 65px;
  width: 411px;
}
.price2 {
  top: 113px;
  left: 221px;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--black);
  text-align: right;
  display: flex;
  align-items: flex-end;
  width: 190px;
}
.price1,
.summaryProductItem {
  position: absolute;
  top: 351px;
  left: 65px;
  width: 411px;
  height: 139px;
}
.summaryProductItem {
  top: 334px;
  width: 410px;
  height: 2px;
}
.addCode,
.inputcoupon {
  position: absolute;
  font-family: var(--font-roboto);
}
.inputcoupon {
  border: 0;
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 100%;
  width: 69.34%;
  top: 0;
  right: 30.66%;
  bottom: 0;
  left: 0;
}
.addCode {
  width: 69.83%;
  top: 25%;
  left: 14.66%;
  font-size: 17.65px;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkgray);
  position: absolute;
  height: 100%;
  width: 28.22%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 71.78%;
  border-radius: var(--br-9xs);
}
.coupon,
.summaryProductInner {
  position: absolute;
  top: 268px;
  left: 65px;
  width: 411px;
  height: 40px;
}
.summaryProductInner {
  top: 238px;
  width: 410px;
  height: 2px;
}
.price3,
.productName {
  left: 220px;
  letter-spacing: -0.9px;
  line-height: 57.6px;
  font-family: var(--font-poppins);
  text-align: left;
  display: flex;
  align-items: center;
  width: 255px;
}
.price3 {
  position: absolute;
  top: 38px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
  color: var(--green);
  height: 59px;
}
.productName {
  top: 6px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--black);
  height: 37px;
}
.bg1,
.imageIcon,
.productName {
  position: absolute;
}
.bg1 {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 164px;
  height: 130px;
}
.imageIcon {
  top: 5px;
  left: 4px;
  width: 160px;
  height: 120px;
  object-fit: cover;
}
.productImage {
  position: absolute;
  top: 6px;
  left: -4px;
  width: 164px;
  height: 130px;
}
.bg2 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--green);
  width: 22px;
  height: 22px;
}
.bg2,
.counter,
.div {
  position: absolute;
}
.div {
  height: 63.64%;
  width: 63.64%;
  top: 18.18%;
  left: 18.18%;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter {
  top: 0;
  left: 141px;
  width: 22px;
  height: 22px;
}
.product,
.summaryProduct {
  position: absolute;
  top: 55px;
  left: 65px;
  width: 475px;
  height: 136px;
}
.summaryProduct {
  top: 0;
  left: 735px;
  width: 705px;
  height: 820px;
}
