.button1 {
  position: relative;
  font-size: 20.65px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 8px 44px;
  background-color: var(--green);
  position: absolute;
  top: 588px;
  left: 1092px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.description,
.price,
.vatShipping {
  position: absolute;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  display: inline-block;
  height: 26px;
}
.vatShipping {
  top: 35px;
  left: 0;
  font-size: var(--font-size-base);
  color: #9e9e9e;
  width: 350px;
}
.description,
.price {
  top: 0;
  left: 255px;
  font-weight: 500;
  width: 95px;
}
.description {
  left: 164px;
  text-align: left;
}
.subtotal {
  position: absolute;
  top: 588px;
  left: 672px;
  width: 350px;
  height: 61px;
}
.productListChild {
  position: absolute;
  top: 242px;
  left: 0;
  width: 1110px;
  height: 6.03px;
}
.bg,
.total {
  position: absolute;
}
.total {
  top: 54px;
  left: 1015px;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  width: 95px;
  height: 26px;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--green);
  box-sizing: border-box;
}
.span {
  color: var(--green);
}
.span1 {
  color: #1d252c;
}
.span2 {
  color: #a7a7a7;
}
.placeholder {
  position: absolute;
  height: 83.33%;
  width: 77.33%;
  top: 10%;
  left: 9.33%;
  font-size: var(--font-size-lg);
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
}
.input {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.description1,
.input,
.quantity1 {
  position: absolute;
  width: 100%;
  left: 0;
}
.description1 {
  height: 83.33%;
  top: -103.33%;
  font-size: var(--font-size-lg);
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-family: var(--font-roboto);
  color: var(--black);
  text-align: center;
  display: none;
}
.quantity1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 49.18%;
  top: 50.82%;
  right: 0;
  bottom: 0;
}
.quantity {
  position: absolute;
  top: 19px;
  left: 855px;
  background-color: var(--color-white);
  width: 75px;
  height: 61px;
}
.productName,
.removeItem,
.unitPrice {
  position: absolute;
  letter-spacing: -0.9px;
}
.unitPrice {
  top: 58px;
  left: 664px;
  line-height: 25.6px;
  font-weight: 500;
  display: inline-block;
  width: 160px;
  height: 26px;
}
.productName,
.removeItem {
  cursor: pointer;
  left: 190px;
}
.productName {
  top: 0;
  font-size: var(--font-size-7xl);
  line-height: 57.6px;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: flex;
  align-items: center;
  width: 445px;
  height: 37px;
}
.removeItem {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 58px;
  font-size: var(--font-size-lg);
  text-decoration: underline;
  line-height: 25.6px;
  font-family: var(--font-roboto);
  color: var(--green);
  text-align: left;
  display: inline-block;
  width: 95px;
  height: 26px;
}
.productImageIcon {
  position: absolute;
  top: 4px;
  left: 0;
  width: 160px;
  height: 130px;
  object-fit: cover;
}
.headingTableChild,
.product {
  position: absolute;
  top: 81px;
  left: 0;
  width: 1110px;
  height: 134px;
}
.headingTableChild {
  top: 42px;
  height: 6.03px;
}
.price1,
.product1,
.quantity2,
.total1 {
  position: absolute;
  top: 4px;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  display: inline-block;
  height: 26px;
}
.total1 {
  left: 1017px;
  text-align: right;
  width: 93px;
}
.price1,
.product1,
.quantity2 {
  left: 855px;
  width: 95px;
}
.price1,
.product1 {
  left: 664px;
  width: 160px;
}
.product1 {
  top: 0;
  left: 0;
  width: 255px;
}
.headingTable,
.productList {
  position: absolute;
  top: 0;
  left: 0;
  width: 1110px;
  height: 48.03px;
  font-size: var(--font-size-base);
}
.productList {
  top: 297px;
  left: 165px;
  height: 248.03px;
  text-align: left;
  font-size: var(--font-size-lg);
}
.back,
.pageName {
  position: absolute;
  letter-spacing: -0.9px;
  text-align: center;
}
.back {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 211px;
  left: 545px;
  font-size: var(--font-size-lg);
  text-decoration: underline;
  line-height: 25.6px;
  font-family: var(--font-roboto);
  color: var(--green);
  display: inline-block;
  width: 350px;
  height: 26px;
}
.pageName {
  top: 136px;
  left: 451px;
  font-size: var(--font-size-7xl);
  line-height: 57.6px;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 539px;
  height: 58px;
}
.desktopcart {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1256px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-roboto);
}
