.button1 {
  position: relative;
  font-size: 20.65px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.back,
.button {
  cursor: pointer;
  border: 0;
  position: absolute;
}
.button {
  padding: 8px 44px;
  background-color: var(--green);
  top: 442px;
  left: 311px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.back {
  padding: 0;
  background-color: transparent;
  top: 510px;
  left: 355px;
  font-size: 18px;
  text-decoration: underline;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-family: var(--font-roboto);
  color: var(--green);
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 26px;
}
.chevronrightIcon,
.chevronrightIcon1,
.chevronrightIcon2 {
  position: absolute;
  top: 9px;
  left: 38px;
  width: 10px;
  height: 10px;
  overflow: hidden;
}
.chevronrightIcon1,
.chevronrightIcon2 {
  left: 113px;
}
.chevronrightIcon2 {
  left: 200px;
}
.step4 {
  position: absolute;
  top: 1px;
  left: 220px;
  color: var(--black);
}
.step2,
.step3,
.step4 {
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
}
.step3 {
  position: absolute;
  top: 0;
  left: 133px;
}
.step2 {
  top: 1px;
  left: 58px;
}
.step1,
.step2,
.steps {
  position: absolute;
}
.step1 {
  top: 1px;
  left: 0;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
}
.steps {
  top: 77px;
  left: 165px;
  width: 278px;
  height: 27px;
  text-align: left;
  font-size: var(--font-size-base);
}
.bg,
.navdesktopChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 75px;
}
.navdesktopChild {
  top: 75.25px;
  left: -1.25px;
  border-top: 0.5px solid rgba(86, 178, 128, 0.2);
  box-sizing: border-box;
  width: 1440.5px;
  height: 0.5px;
  display: none;
}
.cartIcon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.bg1 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--green);
  width: 11px;
  height: 11px;
}
.bg1,
.counter,
.div {
  position: absolute;
}
.div {
  height: 63.64%;
  width: 63.64%;
  top: 18.18%;
  left: 18.18%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter {
  top: 0;
  left: 18px;
  width: 11px;
  height: 11px;
}
.cart,
.profileIcon {
  position: absolute;
  top: 22px;
  left: 1244px;
  width: 29px;
  height: 28px;
  display: none;
}
.profileIcon {
  top: 20px;
  left: 1190px;
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.about,
.contactUs {
  position: absolute;
  top: 0;
  left: 257px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 25px;
}
.about {
  left: 122px;
  width: 129px;
}
.chevrondownIcon {
  position: absolute;
  top: 8px;
  left: 88px;
  width: 10px;
  height: 10px;
  overflow: hidden;
}
.discovery,
.navItem {
  position: absolute;
  height: 25px;
}
.discovery {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
}
.navItem {
  top: 25px;
  left: 533px;
  width: 387px;
  display: none;
  font-size: var(--font-size-base);
  color: var(--black);
}
.logoIcon,
.navdesktop {
  position: absolute;
  top: 20px;
  left: 165px;
  width: 126px;
  height: 34px;
}
.navdesktop {
  top: 0;
  left: 0;
  width: 1440px;
  height: 75px;
  font-size: 10px;
  color: var(--color-white);
}
.thankYouJoe {
  font-size: var(--font-size-base);
  color: #818181;
}
.description,
.ordernum,
.paymentConfirmed {
  position: absolute;
  left: 165px;
  line-height: 15.6px;
  font-family: var(--font-helvetica);
  width: 540px;
}
.description {
  top: 351px;
  text-align: left;
  display: inline-block;
  height: 51px;
}
.ordernum,
.paymentConfirmed {
  top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.paymentConfirmed {
  top: 267px;
  left: 261px;
  font-size: 26px;
  letter-spacing: -0.9px;
  line-height: 57.6px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--black);
  width: 349px;
  height: 38px;
}
.checkcircleIcon {
  position: absolute;
  top: 151px;
  left: 385px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.bg2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 705px;
  height: 820px;
}
.label,
.price {
  position: absolute;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  width: 190px;
  height: 26px;
}
.label {
  top: 464px;
  left: 65px;
  text-align: left;
}
.price {
  top: 351px;
  left: 286px;
  color: var(--black);
}
.summaryProductChild {
  position: absolute;
  top: 447px;
  left: 65px;
  width: 410px;
  height: 2px;
}
.shipping1 {
  top: 0;
  left: 221px;
  line-height: 25.6px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  width: 190px;
}
.label1,
.shipping,
.shipping1 {
  position: absolute;
  height: 26px;
}
.label1 {
  top: 0;
  left: 0;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 190px;
}
.shipping {
  top: 389px;
  left: 65px;
  width: 411px;
  color: var(--black);
}
.price2 {
  top: 113px;
  left: 221px;
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  width: 190px;
  height: 26px;
}
.label2,
.price1,
.price2 {
  position: absolute;
}
.label2 {
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  letter-spacing: -0.9px;
  line-height: 25.6px;
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 190px;
  height: 26px;
}
.price1 {
  top: 351px;
  left: 65px;
  width: 411px;
  height: 139px;
  font-size: 24px;
}
.summaryProductItem {
  position: absolute;
  top: 334px;
  left: 65px;
  width: 410px;
  height: 2px;
}
.price3,
.productName {
  position: absolute;
  left: 220px;
  letter-spacing: -0.9px;
  line-height: 57.6px;
  display: flex;
  align-items: center;
  width: 255px;
}
.price3 {
  top: 38px;
  font-size: 21px;
  font-weight: 600;
  height: 59px;
}
.productName {
  top: 6px;
  font-weight: 500;
  color: var(--black);
  height: 37px;
}
.productImageIcon {
  position: absolute;
  top: 6px;
  left: 0;
  width: 160px;
  height: 130px;
  object-fit: cover;
}
.bg3,
.counter1 {
  position: absolute;
  top: 0;
  width: 22px;
  height: 22px;
}
.bg3 {
  left: 0;
  border-radius: 50%;
  background-color: var(--green);
}
.counter1 {
  left: 141px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.product {
  position: absolute;
  top: 55px;
  left: 65px;
  width: 475px;
  height: 136px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.summaryProduct {
  position: absolute;
  top: 0;
  left: 735px;
  width: 705px;
  height: 820px;
  text-align: right;
}
.desktopthanks {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 820px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--green);
  font-family: var(--font-roboto);
}
